.idea/workspace.xml
.idea/dictionaries/*
Documentation/*.log
Documentation/*.blg
*.dvi
*.aux
*.out
build.bat
*.bbl
*.aux
*.dvi
.classpath
.project
.threadpref
defaultSimulation.json
bin/
classes/
src/jfxrt.jar
src/lib
tmp
